* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.header {
    background-color: #222222;
    padding: 20px 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-right: 40px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__user {
    margin: 0 33px;
}

.header__cart {
    align-self: flex-start;
}

.brand {
    background-color: #F1E4E6;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 363px;
}

.brand__left {
    width: 50%;
}

.brand__right {
    width: 50%;
}

.brand__logo {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.brand__logo div:first-child {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.brand__logo div:last-child {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.brand__logo div:last-child span {
    color: #F16D7F;
}

.offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    grid-gap: 30px;
    margin-top: 65px;
}

.offers div {
    background-size: cover;
    background-position: center;
}

.offers__for-women {
    background-image: url(img/for-women.png);
}

.offers__for-men {
    background-image: url(img/for-men.png);
}

.offers__for-kids {
    background-image: url(img/for-kids.png);
}

.offers__accesories {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(img/accesories.png);
}

.offers__text1,
.offers__text2,
.offers__text3,
.offers__text4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
}

.pink {
    display: block;
    text-transform: uppercase;
    color: #F16D7F;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
}

.featured {
    margin-top: 100px;
}

.featured__top {
    text-align: center;
}

.featured__heading {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px;
}

.featured__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.featured__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featured__description {
    background: #F8F8F8;
    margin-top: -3px;
    padding-top: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}

.featured__card-top {
    line-height: 16px;
    font-size: 13px;
    padding-bottom: 12px;
}

.featured__card-bottom {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.featured__prise {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}

.featured__button {
    display: block;
    border: 1px solid #FF6A6A;
    width: 211px;
    line-height: 47px;
    text-align: center;
    color: #FF6376;
    font-size: 16px;
    margin: 0 auto;
}

.footer {
    margin-top: 95px;
}

.footer__top {
    background-color: #222224;
    padding: 104px 0;
}

.footer__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
    text-align: center;
}

.footer__logo {
    margin: 0 auto;
}

.footer__heading {
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    color: #FBFBFB;
}

.footer__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    margin-top: 16px;
}

.footer__middle {
    background-image: url(img/footer-bg.png);
    padding-top: 97px;
    padding-bottom: 126px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__comment {
    max-width: 360px;
}

.footer__promo-logo {
    display: block;
    margin: 0 auto;
}

.footer__promo-text {
    padding: 30px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer__sub-box {
    padding: 0 100px;
}

.footer__subscribe {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.footer__subscribe-text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
}

.footer__sub-box form {
    display: flex;
}

#email {
    width: 256px;
    height: 49px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: none;
    background-color: #E1E1E1;
    padding: 0 22px;
}

#subscribe {
    border: none;
    width: 100px;
    height: 49px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #F16D7F;
    color: #ffffff;
    margin-left: -4px;
}

.footer__bottom {
    background-color: #222224;
    padding: 24px 0;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__socialnet {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 7px;
}

.footer__social-item {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1172px) {
    .header__menu {
        padding: 0 32px;
    }

    .brand__logo div:first-child {
        font-size: 44px;
        line-height: 53px;
    }

    .brand__logo div:last-child {
        font-size: 24px;
        line-height: 29px;
    }

    .offers {
        margin: 20px 16px;
        grid-gap: 20px;
    }

    .featured__box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0 16px;
        margin-bottom: 33px;
    }

    .featured__img {
        width: 100%;
    }

    .footer {
        margin-top: 65px;
    }

    .footer__top {
        padding-top: 0;
        padding-bottom: 64px;
    }

    .footer__features {
        grid-template-columns: 360px;
        justify-content: center;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;        
    }

    .order3 {
        order: 3;
    }

    .order4 {
        order: 4;
    }

    .order5 {
        order: 5;
    }

    .order6 {
        order: 6;
    }

    .order7 {
        order: 7;
    }

    .order8 {
        order: 8;
    }

    .order9 {
        order: 9;
    }

    .footer__logo {
        margin-top: 48px;
    }

    .footer__heading {
        margin-top: 28px;
    }

    .footer__promo {
        align-items: center;
        flex-direction: column;
    }

    .footer__sub-box {
        margin-top: 48px;
    }

    .footer__contacts {
        padding: 0 32px;
    }
}

@media (max-width: 1024px) {
    .offers {
        grid-template-rows: 167px 116px;
    }
}

@media (max-width: 767px) {
    .header__user,
    .header__cart {
        display: none;
    }

    .brand__left {
        display: none;
    }

    .brand__right {
        width: auto;
    }

    .brand__logo div:first-child {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
    }

    .brand__logo div:last-child {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }

    .offers {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 248px) 111px;
        margin: 64px 16px;
    }

    .offers__accesories {
        grid-column: 1 / 2;
    }

    .featured {
        margin-top: 0;
    }

    .featured__box {
        grid-template-columns: 1fr;
        padding: 0 8px;
        margin-bottom: 40px;
        margin-top: 64px;
        grid-gap: 16px;
    }

    .footer__features {
        grid-template-columns: 318px;
    }

    .footer__middle {
        padding-bottom: 110px;
        background-position: left;
    }

    .footer__promo-text {
        font-size: 18px;
        line-height: 22px;
    }

    .footer__sub-box {
        padding: 0;
    }

    .footer__subscribe {
        line-height: 36px;
    }

    .footer__subscribe-text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 22px;
    }

    #email {
        width: 200px;
        box-sizing: border-box;
    }

    .footer__contacts {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .footer__copyright {
        margin-top: 40px;
    }
}