* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.header {
    background-color: #222222;
    padding: 20px 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-right: 40px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__user {
    margin: 0 33px;
}

.header__cart {
    align-self: flex-start;
}

.brand {
    background-color: #F1E4E6;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 363px;
}

.brand__left {
    width: 50%;
}

.brand__right {
    width: 50%;
}

.brand__logo {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.brand__logo div:first-child {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.brand__logo div:last-child {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.brand__logo div:last-child span {
    color: #F16D7F;
}

.offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    grid-gap: 30px;
    margin-top: 65px;
}

.offers div {
    background-size: cover;
    background-position: center;
}

.offers__for-women {
    background-image: url(img/for-women.png);
}

.offers__for-men {
    background-image: url(img/for-men.png);
}

.offers__for-kids {
    background-image: url(img/for-kids.png);
}

.offers__accesories {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(img/accesories.png);
}

.offers__text1,
.offers__text2,
.offers__text3,
.offers__text4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
}

.pink {
    display: block;
    text-transform: uppercase;
    color: #F16D7F;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
}

.featured {
    margin-top: 100px;
}

.featured__top {
    text-align: center;
}

.featured__heading {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px;
}

.featured__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.featured__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featured__description {
    background: #F8F8F8;
    margin-top: -3px;
    padding-top: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}

.featured__card-top {
    line-height: 16px;
    font-size: 13px;
    padding-bottom: 12px;
}

.featured__card-bottom {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.featured__prise {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}

.featured__button {
    display: block;
    border: 1px solid #FF6A6A;
    width: 211px;
    line-height: 47px;
    text-align: center;
    color: #FF6376;
    font-size: 16px;
    margin: 0 auto;
}

.footer {
    margin-top: 95px;
}

.footer__top {
    background-color: #222224;
    padding: 104px 0;
}

.footer__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
    text-align: center;
}

.footer__logo {
    margin: 0 auto;
}

.footer__heading {
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    color: #FBFBFB;
}

.footer__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    margin-top: 16px;
}

.footer__middle {
    background-image: url(img/footer-bg.png);
    padding-top: 97px;
    padding-bottom: 126px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__comment {
    max-width: 360px;
}

.footer__promo-logo {
    display: block;
    margin: 0 auto;
}

.footer__promo-text {
    padding: 30px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer__sub-box {
    padding: 0 100px;
}

.footer__subscribe {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.footer__subscribe-text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
}

.footer__sub-box form {
    display: flex;
}

#email {
    width: 256px;
    height: 49px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: none;
    background-color: #E1E1E1;
    padding: 0 22px;
}

#subscribe {
    border: none;
    width: 100px;
    height: 49px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #F16D7F;
    color: #ffffff;
    margin-left: -4px;
}

.footer__bottom {
    background-color: #222224;
    padding: 24px 0;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__socialnet {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 7px;
}

.footer__social-item {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Страница каталога */

.category {
    background-color: #F8F3F4;
}

.category__box {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__left {
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
}

.category__right span {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.category__right span:last-child {
    font-weight: 700;
    color: #F16D7F;
}

.parameters {
    display: grid;
    gap: 30px;
    grid-template-columns: 360px 1fr;
    padding: 51px 0 64px;
}

.parameters__left {
    display: flex;
    align-items: center;
}

.parameters__left p {
    padding: 0 11px 0 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.parameters__right {
    display: flex;
    align-items: center;
}

.parameters__right div {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #6f6e6e;
}

.parameters__right div img {
    margin: 0 28px 0 10px;
}

.catalog__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.catalog__item {
    background-color: #F8F8F8;
}

.catalog__item div {
    padding: 25px 16px 20px;
}

.catalog__item div h4 {
    font-size: 13px;
    line-height: 16px;
}

.catalog__item div p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 12px 0 18px;
}

.catalog__item div p:last-child {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catalog__strip {
    display: flex;
    justify-content: space-around;
    width: 283px;
    padding: 12px 0;
    border: 1px solid #EBEBEB;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    margin: 48px auto;
}

.catalog__strip .num1 {
    color: #EF5B70;
}

/* Страница продукта */

.product-look {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
}

.product-look div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
}

.product-look > img {
    margin: 10px 0 42px;
}

.product-look div img {
    width: 13px;
}

.card {
    margin-top: -64px;
    background-color: #ffffff;
    position: relative;
    border: 1px solid #EAEAEA;
}

.card > div {
    padding: 64px 250px;
    text-align: center;
}

.card__heading-one {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.card__line {
    width: 64px;
    box-sizing: border-box;
    border-top: 3px solid #EF5B70;
    margin: 12px auto;
}

.card__heading-two {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.card__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    padding: 48px 36px 32px;
}

.card__price {
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.card hr {
    margin: 65px 0;
    opacity: 0.2;
}

.card__parameters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__parameters div {
    display: flex;
    align-items: center;
}

.card__parameters div:nth-child(2) {
    margin: 0 23px;
}

.card__parameters p {
    margin-right: 9px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.card__button {
    width: 211px;
    height: 47px;
    box-sizing: border-box;
    border: 1px solid #FF6A6A;
    margin: 48px auto 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 0 23px;
}

.card__button img {
    margin-right: 23px;
}

.product__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 128px;
}

.product__item {
    background-color: #F8F8F8;
}

.product__item img {
    width: 100%;
}

.product__item div {
    padding: 24px 16px 20px;
}

.product__item h4 {
    font-size: 13px;
    line-height: 16px;
}

.product__item div p {
    color: rgba(93, 93, 93, 1);
    font-size: 14px;
    line-height: 17px;
    padding: 12px 0 18px;
}

.product__item div p:last-child {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 0;
}

@media (max-width: 1172px) {
    .header__menu {
        padding: 0 32px;
    }

    .brand__logo div:first-child {
        font-size: 44px;
        line-height: 53px;
    }

    .brand__logo div:last-child {
        font-size: 24px;
        line-height: 29px;
    }

    .offers {
        margin: 20px 16px;
        grid-gap: 20px;
    }

    .featured__box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0 16px;
        margin-bottom: 33px;
    }

    .featured__img {
        width: 100%;
    }

    .footer {
        margin-top: 65px;
    }

    .footer__top {
        padding-top: 0;
        padding-bottom: 64px;
    }

    .footer__features {
        grid-template-columns: 360px;
        justify-content: center;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;        
    }

    .order3 {
        order: 3;
    }

    .order4 {
        order: 4;
    }

    .order5 {
        order: 5;
    }

    .order6 {
        order: 6;
    }

    .order7 {
        order: 7;
    }

    .order8 {
        order: 8;
    }

    .order9 {
        order: 9;
    }

    .footer__logo {
        margin-top: 48px;
    }

    .footer__heading {
        margin-top: 28px;
    }

    .footer__promo {
        align-items: center;
        flex-direction: column;
    }

    .footer__sub-box {
        margin-top: 48px;
    }

    .footer__contacts {
        padding: 0 32px;
    }

    /* Страница каталога */

    .category__box {
        padding-left: 16px;
        padding-right: 16px;
    }

    .parameters {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 24px 16px 40px;
    }

    .parameters__left p {
        padding: 0 11px 0 0;
    }

    .parameters__right {
        justify-content: end;
    }

    .parameters__right div:last-child img {
        margin: 0 0 0 10px;
    }

    .catalog__grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 0 16px;
    }

    .catalog__item img {
        width: 100%;
    }

    .catalog__item:nth-child(3) {
        display: none;
    }

    /* Страница продукта */

    .product-look > img {
        margin: 30px 0;
    }

    .product__grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 0 19px;
    }

    .product__item:last-child {
        display: none;
    }
}

@media (max-width: 1024px) {
    .offers {
        grid-template-rows: 167px 116px;
    }

    /* Страница продукта */

    .card {
        margin-top: 0;
    }

    .card > div {
        padding: 64px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .header__user,
    .header__cart {
        display: none;
    }

    .brand__left {
        display: none;
    }

    .brand__right {
        width: auto;
    }

    .brand__logo div:first-child {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
    }

    .brand__logo div:last-child {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }

    .offers {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 248px) 111px;
        margin: 64px 16px;
    }

    .offers__accesories {
        grid-column: 1 / 2;
    }

    .featured {
        margin-top: 0;
    }

    .featured__box {
        grid-template-columns: 1fr;
        padding: 0 8px;
        margin-bottom: 40px;
        margin-top: 64px;
        grid-gap: 16px;
    }

    .footer__features {
        grid-template-columns: 318px;
    }

    .footer__middle {
        padding-bottom: 110px;
        background-position: left;
    }

    .footer__promo-text {
        font-size: 18px;
        line-height: 22px;
    }

    .footer__sub-box {
        padding: 0;
    }

    .footer__subscribe {
        line-height: 36px;
    }

    .footer__subscribe-text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 22px;
    }

    #email {
        width: 200px;
        box-sizing: border-box;
    }

    .footer__contacts {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .footer__copyright {
        margin-top: 40px;
    }

    /* Страница каталога */

    .category__box {
        flex-direction: column;
        padding: 24px 0 46px;
    }

    .category__right {
        margin-top: 32px;
    }

    .parameters {
        grid-template-columns: auto 1fr;
    }

    .parameters__left p {
        display: none;
    }

    .parameters__left img {
        width: 38px;
    }

    .parameters__right div {
        font-size: 12px;
        line-height: 14px;
    }

    .parameters__right div img {
        margin: 0 24px 0 9px;
    }

    .catalog__grid {
        grid-template-columns: 1fr;
        padding: 0 8px;
    }

    /* Страница продукта */

    .product-look > img {
        margin: 85px 0;
        max-width: 274px;
    }

    .card > div {
        padding: 64px 20px;
    }

    .card__description {
        line-height: 20px;
        padding: 48px 0px 32px;
    }

    .card hr {
        margin: 32px 80px 49px;
    }

    .card__parameters p {
        font-size: 10px;
        line-height: 12px;
    }

    .product__grid {
        grid-template-columns: 1fr;
        gap: 8px;
        margin-top: 64px;
        padding: 0px 8px;
    }

    .product__item:nth-child(2) {
        display: none;
    }

    .product__item:last-child {
        display: block;
    }
}

@media (max-width: 350px) {
    .parameters__right div {
        font-size: 9px;
    }

    /* Страница продукта */

    .card__parameters p {
        margin-right: 5px;
        font-size: 9px;
    }
}