.b-brandName {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    border: 4px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__heading {
        font-family: 'Post-No-Bills-Jaffna-SemiBold';
        border-bottom: 2px solid white;
        font-size: 64px;
        line-height: 70px;
        @media (max-width: 767.98px) {
            font-size: 45px;
            line-height: 50px;
        }
    }
    &__text {
        font-size: 22px;
        line-height: 50px;
        font-weight: 100;
        font-family: monospace;
        letter-spacing: 0.4px;
        @media (max-width: 767.98px) {
            font-size: 15px;
            line-height: 40px; 
        }
    }
    @media (max-width: 767.98px) {
        width: 220px;
        height: 220px;
    }
}