.b-subscribe {
    width: 350px;
    &__heading {
        font-size: 24px;
        line-height: 28px;
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
        margin: 40px 0 37px;
    }
    &__email {
        width: 210px;
        height: 42px;
        border: none;
        outline: none;
        background: rgba($color: white, $alpha: .2);
        float: left;
        color: #969696;
        font-size: 14px;
        line-height: 21px;
        padding: 0 20px;
        &::placeholder {
            color: #969696;
        }
        &:focus {
            background-color: rgba($color: white, $alpha: .1);
        }
        @media (max-width: 374.98px) {
            width: 200px;
        }
    }
    &__button {
        width: 140px;
        height: 42px;
        background: #0f0f0f;
        border: none;
        color: white;
        font-size: 14px;
        cursor: pointer;
        @media (max-width: 374.98px) {
            width: 100px;
            font-size: 10px;
        }
    }
    @media (max-width: 1141.98px) {
        padding-top: 100px;
    }
    @media (max-width: 374.98px) {
        width: auto;
    }
}