.b-collection2018 {
    color: white;
    height: 600px;
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading {
        font-size: 36px;
        padding-top: 100px;
        padding-bottom: 40px;
    }
    &__line {
        width: 120px;
        border-top: 1px solid white;
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
        width: 471px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 61px;
        letter-spacing: 0.5px;
    }
    &__button {
        width: 311px;
        height: 47px;
        text-align: center;
        border: 1px solid white;
        font-size: 18px;
        line-height: 47px;
    }
}