.b-ourBrands {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    padding: 60px 0 80px;
    &__heading {
        grid-column: 1 / -1;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        &::after {
            content: "";
            display: block;
            width: 120px;
            border-top: 1px solid #fff;
            margin: 40px auto;
        }
    }
}