.b-shedule {
    display: flex;
    width: 375px;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 12px;
    line-height: 16px;
    &__content {
        &:nth-of-type(n+2)::before {
            content: "|";
            display: inline-block;
            padding-right: 12px;
        }
    }
}