.b-subscribe {
    width: 350px;
    &__heading {
        font-size: 24px;
        line-height: 28px;
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
        margin: 40px 0 37px;
    }
    &__email {
        width: 210px;
        height: 42px;
        border: none;
        background: rgba($color: white, $alpha: .4);
        float: left;
        color: #969696;
        font-size: 14px;
        line-height: 21px;
        padding: 0 20px;
        &::placeholder {
            color: #969696;
        }
    }
    &__button {
        width: 140px;
        height: 42px;
        background: #0f0f0f;
        border: none;
        color: white;
        font-size: 14px;
    }
}