*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Post-No-Bills-Jaffna-SemiBold';
  src: url("fonts/webfonts_Post-No-Bills-Jaffna-SemiBold/Post-No-Bills-Jaffna-SemiBold.ttf.woff") format("woff"), url("fonts/webfonts_Post-No-Bills-Jaffna-SemiBold/Post-No-Bills-Jaffna-SemiBold.ttf.svg") format("svg"), url("fonts/webfonts_Post-No-Bills-Jaffna-SemiBold/Post-No-Bills-Jaffna-SemiBold.ttf.eot"), url("fonts/webfonts_Post-No-Bills-Jaffna-SemiBold/Post-No-Bills-Jaffna-SemiBold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #000;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 1141.98px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 375px;
    padding: 0 8px;
  }
}

.secondBg {
  background: #0f0f0f;
}

.smallText {
  font-variant: oldstyle-nums;
  display: inline-block;
  margin-left: 10px;
}

.footer {
  background: url(img/footer/bg.png) no-repeat center/cover;
  padding: 80px 0 100px;
  color: white;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1141.98px) {
  .footerWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1141.98px) {
  .footer {
    background-position: bottom;
  }
}

.b-topInfo {
  display: flex;
  justify-content: space-between;
}

.b-topInfo__login {
  position: relative;
  right: 0;
}

@media (max-width: 767.98px) {
  .b-topInfo {
    flex-wrap: wrap;
  }
}

.b-shedule {
  display: flex;
  width: 375px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 12px;
  line-height: 16px;
  margin-right: 20px;
}

.b-shedule__content:nth-of-type(n+2)::before {
  content: "|";
  display: inline-block;
  padding-right: 12px;
}

@media (max-width: 767.98px) {
  .b-shedule {
    margin-right: 0;
    flex-grow: 1;
  }
}

@media (max-width: 374.98px) {
  .b-shedule {
    font-size: 9px;
  }
}

.b-login {
  width: 130px;
  height: 44px;
  color: gray;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-header__mainNav_padLeft {
  padding-left: 18px;
}

.b-logo {
  font-family: 'Post-No-Bills-Jaffna-SemiBold';
  font-size: 36px;
  color: #FFFFFF;
}

.b-mainNav {
  display: flex;
  justify-content: space-between;
  width: 555px;
}

@media (max-width: 767.98px) {
  .b-mainNav {
    justify-content: flex-end;
  }
}

.b-mainNav__buttons {
  display: flex;
}

@media (max-width: 767.98px) {
  .b-mainNav__buttons {
    display: none;
  }
}

.b-mainNav__item {
  padding: 0 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 80px;
}

.b-mainNav__item:hover {
  background: #1f1f1f;
}

.b-mainNav__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
}

@media (max-width: 767.98px) {
  .b-mainNav__icons {
    display: none;
  }
}

.b-mainNav__icon {
  transition-duration: .5s;
  cursor: pointer;
}

.b-mainNav__icon:hover {
  transform: scale(2);
}

.b-mainNav__burger {
  width: 40px;
  height: 17px;
  background: #0f0f0f;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  margin-top: -14.5px;
}

.b-mainNav__burger::after {
  content: "";
  display: block;
  margin-top: 25px;
  background: white;
  width: 40px;
  height: 3px;
}

@media (min-width: 768px) {
  .b-mainNav__burger {
    display: none;
  }
}

.b-brandDesc {
  background: url(img/brandDesc/background.png) no-repeat center/cover;
  padding: 160px 0 154px;
}

@media (max-width: 767.98px) {
  .b-brandDesc {
    padding: 100px 0 100px;
  }
}

.b-brandDesc__text {
  max-width: 730px;
  margin: 80px auto 0;
  color: white;
  font-family: PT Sans sans-serif;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .b-brandDesc__text {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 10px;
    line-height: 20px;
  }
}

.b-brandName {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  border: 4px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b-brandName__heading {
  font-family: 'Post-No-Bills-Jaffna-SemiBold';
  border-bottom: 2px solid white;
  font-size: 64px;
  line-height: 70px;
}

@media (max-width: 767.98px) {
  .b-brandName__heading {
    font-size: 45px;
    line-height: 50px;
  }
}

.b-brandName__text {
  font-size: 22px;
  line-height: 50px;
  font-weight: 100;
  font-family: monospace;
  letter-spacing: 0.4px;
}

@media (max-width: 767.98px) {
  .b-brandName__text {
    font-size: 15px;
    line-height: 40px;
  }
}

@media (max-width: 767.98px) {
  .b-brandName {
    width: 220px;
    height: 220px;
  }
}

.b-showcase {
  display: grid;
  grid-template-columns: 1fr minmax(0, 160px) 1fr;
  grid-template-rows: auto auto;
}

.b-showcase__suitBg {
  background: url(img/suitBg/suit.png) top center/cover no-repeat;
}

@media (max-width: 1365.98px) {
  .b-showcase__suitBg {
    display: none;
  }
}

@media (max-width: 1365.98px) {
  .b-showcase {
    grid-template-columns: 1fr;
  }
}

.b-prevSeason {
  height: 730px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  gap: 50px;
  justify-content: center;
  align-content: center;
  padding: 0 80px;
  grid-column: 1 / 3;
}

.b-prevSeason__heading {
  grid-column: 1 / 4;
  color: white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.b-prevSeason__heading::after {
  content: "";
  display: block;
  width: 120px;
  border-top: 1px solid #fff;
  margin: 40px auto 0;
}

@media (max-width: 767.98px) {
  .b-prevSeason__heading {
    grid-column: auto;
  }
}

@media (max-width: 1365.98px) {
  .b-prevSeason {
    grid-column: auto;
    order: 1;
  }
}

@media (max-width: 767.98px) {
  .b-prevSeason {
    height: auto;
    grid-template-columns: minmax(0, 280px);
    padding: 100px 8px;
  }
}

.b-clock {
  color: white;
}

.b-clock__Bg {
  background: #191B1C;
  display: flex;
  justify-content: center;
  padding: 55.5px 22.5px;
}

.b-clock__img {
  display: block;
  align-self: center;
  width: 100%;
}

.b-clock__name {
  font-size: 18px;
  line-height: 21px;
  padding-top: 25px;
}

.b-clock__price {
  font-size: 16px;
  line-height: 19px;
  color: #d0d0d0;
  padding-top: 10px;
}

.b-newCollection {
  background: url(img/newCollection/bg.png) no-repeat top left/cover;
  color: white;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.b-newCollection__heading {
  font-size: 36px;
  line-height: 42px;
}

.b-newCollection__heading::after {
  content: "";
  display: block;
  width: 120px;
  border-top: 1px solid #fff;
  margin: 20px auto 30px;
}

@media (max-width: 767.98px) {
  .b-newCollection__heading {
    font-size: 24px;
    line-height: 30px;
  }
}

.b-newCollection__button {
  border: 1px solid #fff;
  width: 140px;
  text-align: center;
  padding: 15px 0;
  transition-duration: .5s;
}

.b-newCollection__button:hover {
  cursor: pointer;
  background: rgba(251, 251, 251, 0.3);
}

@media (max-width: 1365.98px) {
  .b-newCollection {
    order: 2;
    background-size: cover;
    background-position: top center;
    height: 700px;
  }
}

@media (max-width: 767.98px) {
  .b-newCollection {
    height: 320px;
  }
}

.b-collection2018 {
  color: white;
  height: 600px;
  padding-bottom: 100px;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 767.98px) {
  .b-collection2018 {
    height: 500px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 50px;
  }
}

.b-collection2018__heading {
  font-size: 36px;
  padding-bottom: 40px;
}

@media (max-width: 767.98px) {
  .b-collection2018__heading {
    font-size: 24px;
    padding-bottom: 20px;
  }
}

.b-collection2018__line {
  width: 120px;
  border-top: 1px solid white;
}

.b-collection2018__text {
  font-size: 14px;
  line-height: 21px;
  max-width: 471px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 61px;
  letter-spacing: 0.5px;
}

@media (max-width: 767.98px) {
  .b-collection2018__text {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.b-collection2018__button {
  width: 311px;
  height: 47px;
  text-align: center;
  border: 1px solid white;
  font-size: 18px;
  line-height: 47px;
}

@media (max-width: 374.98px) {
  .b-collection2018__button {
    width: 270px;
  }
}

@media (max-width: 1365.98px) {
  .b-collection2018 {
    grid-column: auto;
    order: 3;
  }
}

.b-newArrivals {
  color: white;
  padding-top: 120px;
  padding-bottom: 150px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 40px;
}

@media (max-width: 1141.98px) {
  .b-newArrivals {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
  }
}

@media (max-width: 1141.98px) {
  .b-newArrivals__item:nth-child(8), .b-newArrivals__item:last-child {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .b-newArrivals {
    grid-template-columns: minmax(0, 280px);
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.b-newArrivals__heading {
  grid-column: 1 / -1;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .b-newArrivals__heading {
    font-size: 24px;
    grid-column: auto;
  }
}

.b-newArrivals__heading::after {
  content: "";
  display: block;
  margin: 40px auto 40px;
  width: 120px;
  height: 1px;
  background-color: white;
}

@media (max-width: 767.98px) {
  .b-newArrivals__heading::after {
    margin: 20px auto 0;
  }
}

.b-ourBrands {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 80px;
}

@media (max-width: 1141.98px) {
  .b-ourBrands {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
  }
}

@media (max-width: 767.98px) {
  .b-ourBrands {
    grid-template-columns: 1fr;
  }
}

.b-ourBrands__heading {
  grid-column: 1 / -1;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.b-ourBrands__heading::after {
  content: "";
  display: block;
  width: 120px;
  border-top: 1px solid #fff;
  margin: 40px auto;
}

@media (max-width: 767.98px) {
  .b-ourBrands__item {
    justify-self: center;
  }
}

.b-about {
  width: 350px;
}

.b-about__heading {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.b-about__text {
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 374.98px) {
  .b-about {
    width: auto;
  }
}

.b-categories {
  width: 350px;
  padding-left: 10px;
}

.b-categories__heading {
  font-size: 24px;
  line-height: 28px;
}

.b-categories__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.b-categories__item {
  background: #0f0f0f;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 21px;
  margin-right: 20px;
}

.b-categories__item:nth-child(n+4) {
  margin-top: 20px;
}

.b-categories__item:nth-child(3), .b-categories__item:nth-child(5) {
  margin-right: 0;
}

@media (max-width: 1141.98px) {
  .b-categories {
    padding-top: 100px;
    padding-left: 0;
  }
}

@media (max-width: 374.98px) {
  .b-categories {
    width: auto;
  }
}

.b-subscribe {
  width: 350px;
}

.b-subscribe__heading {
  font-size: 24px;
  line-height: 28px;
}

.b-subscribe__text {
  font-size: 14px;
  line-height: 21px;
  margin: 40px 0 37px;
}

.b-subscribe__email {
  width: 210px;
  height: 42px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  float: left;
  color: #969696;
  font-size: 14px;
  line-height: 21px;
  padding: 0 20px;
}

.b-subscribe__email::placeholder {
  color: #969696;
}

.b-subscribe__email:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 374.98px) {
  .b-subscribe__email {
    width: 200px;
  }
}

.b-subscribe__button {
  width: 140px;
  height: 42px;
  background: #0f0f0f;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 374.98px) {
  .b-subscribe__button {
    width: 100px;
    font-size: 10px;
  }
}

@media (max-width: 1141.98px) {
  .b-subscribe {
    padding-top: 100px;
  }
}

@media (max-width: 374.98px) {
  .b-subscribe {
    width: auto;
  }
}

.b-copyright {
  color: #d0d0d0;
  font-size: 12px;
  line-height: 50px;
}
/*# sourceMappingURL=style.css.map */